@tailwind base;
@tailwind components;
@tailwind utilities;
.form-wrapper {
  @apply rounded-3px mx-4 text-lightgray text-sm font-light;
  background: #37415f;
}

.rotate-when-hover:hover {
  transform: rotate(-180deg);
}

.Vue-Toastification__toast {
  border-radius: 0;
}
.Vue-Toastification__toast--default {
  background-color: #5b61f6;
}

.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.tooltip {
    display: block !important;
    max-width: 400px;
    font-size: 14px;
}
.tooltip .tooltip-inner {
    background-color: rgba(246, 204, 91, 0.9);
    padding: 8px 12px;
    color: #2d3748;
    border-radius: 5px;
    line-height: 1.4;
}
.tooltip .tooltip-inner a {
    color: #5b61f6;
    text-decoration: underline;
}
.tooltip[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
}